.driver-create-carpool {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

label {
    font-size: 18px;
    margin-bottom: 5px;
}

input {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #0069d9;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #0053a3;
}