.search-carpool {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.search-carpool h2 {
    text-align: center;
    margin-bottom: 20px;
}

.search-carpool label {
    display: block;
    margin-bottom: 5px;
}

.search-carpool input[type="text"],
.search-carpool input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-carpool button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}

.search-carpool button[type="submit"]:hover {
    background-color: #45a049;
}